.overlay {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  .modal {
    max-width: 96%;
    width: 500px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    overflow: auto;
    max-height: 96vh;

    .header {
      background-color: $green;
      color: $white;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 1.2em;
    }

    .content {
      padding: 10px 20px;
    }
  }
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 -20px;

  .column {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 20px;

    strong {
      text-align: center;
      display: block;
      font-weight: bold;
    }

    .row {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;

      .numeric {
        display: none;
      }
    }
  }

  @media only screen and (max-width: $small-media-query-size) {
    .column {
      .row {
        .numeric {
          display: block;
        }
        .dots {
          display: none;
        }
      }
    }
  }
}

.questionnaire {
  h4 {
    cursor: pointer;

    &.open {

    }
  }

  .section-content {
    display: none;
  }
}
