.breadcrumbs {
  margin: 20px 0;
}

.data-entry-index {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-shrink: 1;
  }

  table.table#questionnaire {
    tbody tr {
      cursor: move;
    }
  }
}

.data-entry-form {
  label {
    font-weight: bold;
  }

  label + select,
  label + input {
    margin-left: 0px;
  }
}

.data-entry-questionnaire {
  input[type="text"] {
    width: 100%;
    max-width: none;
  }

  label + input {
    margin-left: 0;
  }

  form {
    max-width: 50em;
    width: 100%;
  }

  label.handle {
    cursor: move;
  }

  .section-template, .question-template {
    display: none;
  }

  .section {
    input[type="text"] {
      font-size: 24px;
      margin-bottom: 16px;
    }
    textarea {
      margin-bottom: 16px;
    }
  }

  .subsection-title {
    margin-top: 1em;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: .5em;
  }

  ul {
    li {
      margin-bottom: 1em;
      position: relative;

      .delete {
        position: absolute;
        top: 2px;
        right: 0;
      }

      .container {
        .controls {
          text-align: right;
          font-size: 14px;
          margin: 5px 0;

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
