.downtime_actions {
  .downtime-period {
    border-bottom: 1px $ash-grey solid;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    .button-row {
      margin-top: 0;
    }
  }
}
