.button, input[type="submit"] {
  background-color: $green;
  color: $white;
  border: 3px $green solid;
  padding: 10px;
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  min-width: 100px;
  width: auto;
  text-align: center;
  transition: .5s;

  &:hover, &:focus {
    color: $green;
    background-color: $white;
  }
}

.button-secondary {
  border: 2px $green solid;
  background-color: $white;
  color: $green;
  font-size: 16px;
  padding: 10px;
  transition: .5s;
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;

  &:hover {
    background-color: $green;
    color: $white;
  }
}

.button-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 100%;

  .button, input[type="submit"] {
    margin-right: 20px;
    margin-left: 0;
    flex-shrink: 0;
  }

  &.right {
    justify-content: flex-end;

    .button, input[type="submit"] {
      margin-left: 20px;
      margin-right: 0;
    }
  }

  &.center {
    justify-content: center;

    .button, input[type="submit"] {
      margin: 0 20px;
    }
  }
}

.button-text {
  border: none;
  padding: 0;
  font-size: 1em;
  color: $green;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}
