.dataTables_filter label {
  display: flex;
  align-items: center;
}

.dataTables_wrapper {
  margin: 40px 0;
}

table.dataTable {
  margin: 20px 0;
  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    tr {
      &.odd {
        background-color: rgba($silver, .15);

        & + .child {
          background-color: rgba($silver, .15);
        }
      }

      &.child {
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            display: flex;
            .dtr-title {
              font-weight: bold;
              margin-right: 5px;

              &:empty {
                display: none;
              }
            }

            .dtr-data {
              margin-right: 10px;
              display: block;

              &:empty {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

table.plain {
  margin: 20px 0;
  th, td {
    padding: 3px 5px;
  }
  thead {
    th {
      font-weight: bold;
      text-align: left;
    }
    border-bottom: 1px $green solid;
  }

  tbody {
    tr {
      &:nth-child(2n+2) {
        background-color: rgba($silver, .25);
      }
    }
  }
}
