.dataTables_filter label {
  display: flex;
  align-items: center;
}

.dataTables_wrapper {
  margin: 40px 0;
}

table.dataTable {
  margin: 20px 0;
  thead {
    th {
      text-align: left;
    }
  }
}
