input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  background-color: $white;
  border: 1px $black solid;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: .5s;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 16px;
  display: block;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 6px rgba($green, .5);
    -moz-box-shadow: 0 0 6px rgba($green, .5);
    -webkit-box-shadow: 0 0 6px rgba($green, .5);
    border-color: $green;
  }
}

input[type="text"].text-long {
  width: 50em;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding-bottom: 22px;
}

.textarea-wrapper, .question-text {
  width: 100%;
  max-width: 50em;
  position: relative;

  .notice {
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 4px 0 4px 0;
    background-color: rgba($silver, .5);
    padding: 0 5px;
    font-size: 12px;
  }
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px $black solid;
  background-color: $white;
  font-size: 16px;
  height: 44px;
}

select[multiple="multiple"] {
  display: block;
  max-width: 300px;
  height: 150px;
}

.form-row {
  margin: 20px 0;

  strong {
    min-width: 175px;
    display: inline-block;
  }

  button + button {
    margin-left: 10px;
  }
}

.template {
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px $black solid;
  background-color: transparent;
  border-radius: 10px;
  text-indent: -99px;
  transition: .3s;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 2px;

  &.selected, &:hover {
    background-color: $black;
  }
}

.dot.reset {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: $black;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -99px;
  border: none;
}

.build-method {
  display: flex;
  align-items: stretch;
  text-align: center;

  label {
    border: 2px $silver solid;
    font-size: 18px;
    padding: 15px;
    display: block;
    max-width: 250px;
    width: 100%;
    flex-shrink: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: .5s;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    &.checked {
      border-color: $green;
      background-color: $dirty-polaroid;
    }

    p {
      margin-top: 10px;
      margin-bottom: 0;
    }

    @media only screen and (max-width: $small-media-query-size) {
      font-size: 16px;
      padding: 10px;
      margin: 0 5px;
    }
  }
}
