header {
  background-color: $black;
  color: $white;

  .header-interior {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    @include text-glow;
    font-variant-caps: small-caps;
    margin: 0;
    line-height: 1;
    white-space: nowrap;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      > li {
        position: relative;

        > form button {
          background-color: transparent;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          border: none;
          padding: 0;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        > a, > span, > form button {
          text-decoration: none;
          color: $white;
          height: auto;
          @include text-glow;

          &:after {
            content: "";
            background-color: $ash-grey;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            opacity: 0;
            transition: .5s;
            transform: translateY(5px);
          }

          &:hover {
            &:after {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
        ul.sub-menu {
          display: block;
          position: absolute;
          top: calc(100% - 2px);
          left: 0;
          border-top: 2px $ash-grey solid;
          background-color: $dirty-polaroid;
          box-shadow: 2px 2px 2px rgba(0,0,0,.25);
          opacity: 0;
          transform: translateY(-5px);
          transition: transform .5s, opacity .5s;
          z-index: 99;
          min-width: 100%;
          pointer-events: none;
          height: auto;

          li {
            margin: 0;
            padding: 0;
            height: auto;

            a {
              color: $black !important;
              padding: 10px;
              white-space: nowrap;
              width: 100%;
              height: auto;
              line-height: 1;
              display: block;

              &:hover {
                background-color: rgba($silver, .3);
              }

              &:after {
                display: none;
              }
            }
          }
        }
        &:hover {
          a {
            &:after {
              opacity: 1;
              transform: translate(0);
            }
          }
          ul.sub-menu {
            transform: translateY(0);
            opacity: 1;
            display: block;
            pointer-events: all;
          }
        }
      }
    }
  }
}

@media (max-width: $medium-media-query-size) {
  header {
    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width:$small-media-query-size) {
  header {
    h1 {
      font-size: 28px;
    }
    nav {
      display: none;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      transform: translate(0, -5px);
      transition: .5s;
      background-color: $black;
      margin: 0;
      z-index: 999;

      ul {
        display: block;
        border-top: 1px $silver solid;

        > li {
          margin: 0;
          > a, > span, > form {
            height: auto;
            line-height: 1.2;
            display: block;
            padding: 10px 20px;
            border-bottom: 1px rgba($black, .2);

            &:after {
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
        }

        li.parent {

          ul.sub-menu {
            position: static;
            box-shadow: none;
            border-bottom: 1px rgba($black, .25) solid;
            transform: translate(0);
            display: none;
          }

          &:hover {
            ul.sub-menu {
              display: block;
              border-top: none;

              li a {
                padding: 10px 20px;
              }
            }
          }
        }
      }

      &.show {
        transform: translate(0);
        display: block;
      }
    }
  }
}

@media (min-width:$small-media-query-size) {
  header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-interior {
      max-width: $max-page-width;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
        height: 100%;

        ul {
          height: 100%;
        }

        li {
          height: 100%;
          padding: 0 .8em;
          display: flex;
          align-items: center;

        }

      }

    }
  }

  button.hamburger {
    display: none;
  }
}

@media (max-width:$max-page-width) {
  header h1 {
    margin-left: .25em;
  }
}
