body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell DW Pica', serif;
}

a {
  color: $green;
  text-decoration: underline;
}
