@import "base/*";
@import "utilities/*";
@import "pages/character";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/form";

body {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
}

.sheet {
  page-break-after: always;

  .stats {
    page-break-after: always;
  }

  .qualitative {
    page-break-before: always;
  }

  .boxes {
    display: flex;

    .mod {
      font-size: 14px;
      display: block;
      text-align: center;
    }
  }
  .column-content {
    columns: 2;

    .column-item {
      break-inside: avoid;
    }
  }
}

.card {
  page-break-inside: avoid;
  page-break-after: always;
  font-size: 12px;
  color: $black;
  position: relative;
  width: 100%;

  h4 {
    border-bottom: 1px $black solid;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: .5em;
  }

  .boxes {
    display: flex;

    .box {
      text-align: center;
      margin-right: 5px;

      span {
        font-size: 12px;
        display: block;
        line-height: 1;
      }
    }
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      width: 6em;
      font-weight: bold;
    }

    dd {
      width: 92em;
      margin-left: 2em;
    }
  }

  .row {
    display: flex;
    flex-align: flex-end;
  }

  .left {
    width: 50%;
  }

  .right {
    text-align: right;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
  }
}
