@import "base/*";
@import "utilities/*";
@import "pages/character";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/form";

body {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
}

.sheet {
  page-break-after: always;

  .stats {
    page-break-after: always;
  }

  .qualitative {
    page-break-before: always;
  }
}
