- @characters.each do |character|
  - if character.equipment.present?
    - character.equipment.each do |equipment|
      = render partial: 'print_single', locals: {equipment: equipment, character: character}
