<!DOCTYPE html>
<html>
<head>
  <title>AAL Character System</title>
  <%= stylesheet_link_tag    'print', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
